/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat&family=New+Amsterdam&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:wght@700&family=New+Amsterdam&display=swap');

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  cursor: pointer;
  width: 45px;
  text-align: center;
}

select#status {
  margin-right: 1rem;
}

input[type="checkbox"] {
  cursor: pointer;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.modal-body {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #555 #1e1e1e;
}

.modal-body::-webkit-scrollbar {
  width: 12px;
}

.modal-body::-webkit-scrollbar-track {
  background: #2d2d2d;
  border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

textarea {
  font-family: "Fira Code" !important;
  font-optical-sizing: auto;
  font-weight: 300;
  overflow-y: hidden;
  resize: none;
}

/* Add this style to allow the textarea to grow based on content */
textarea:focus, 
textarea:not(:placeholder-shown) {
  height: auto !important;
  min-height: 40px !important;
  height: fit-content !important;
}
