/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat&family=New+Amsterdam&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:wght@700&family=New+Amsterdam&display=swap');

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  cursor: pointer;
  width: 45px;
  text-align: center;
}

select#status {
  margin-right: 1rem;
}



.modal-body::-webkit-scrollbar {
  width: 7px;
}

.modal-body::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #1c1c1e, #2d2d2d, #1c1c1e);
}

.modal-body::-webkit-scrollbar-thumb {
  background: #4b4848;
  border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb:hover {
  background: #a4a4b1;
  cursor: pointer;
}

textarea {
  font-family: "Fira Code" !important;
  font-optical-sizing: auto;
  font-weight: 300;
  overflow-y: hidden;
  resize: none;
}

.bold-textarea {
  font-weight: bold !important;
}

.container {
  display: block;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 25px;
  width: 25px;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 25%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg) scale(1.5) translate(-50%, -50%);
}