@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat&family=New+Amsterdam&display=swap');

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}

.close {
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  cursor: pointer;
  width: 45px;
  text-align: center;
}

input[type="checkbox"] {
  cursor: pointer;
}

select#status{
  cursor: pointer;
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input[type='checkbox']{
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.modal-body {
  overflow-y: auto; /* Enable scrolling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #555 #1E1E1E; /* For Firefox */
}

.modal-body::-webkit-scrollbar {
  width: 12px;
}

.modal-body::-webkit-scrollbar-track {
  background: #2D2D2D;
  border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb:hover {
  background: inherit;
}
